@media screen and (min-width: 768px) {
  .top-section {
    display: flex;
    justify-content: space-between;

    .dmytro-img {
      height: 300px;
      width: auto;
    }
  }
}

.chips {
  & > * {
    margin-right: 4px;
  }
}

.typo {
  background: pink;
}

.img-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.dmytro-img {
  width: 80%;
}
